{% extends "base.html" %}


{% block content %}
Password change for {{ user }}

{% if validlink %}

    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Reset Password" />
    </form>
    
{% else %}
<br><br>
The link you clicked is expired or invalid. <a href="/Project/accounts/password_reset/">Please try again to resend email.</a>
<br><br>


{% endif %}
    Don't have an account yet?
    <a href="/Project/accounts/register/">Register Here</a>
{% endblock %}
